3. Baixar e enviar arquivo do Google Drive.json
{
  "name": "My workflow 14",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "file_id"
            },
            {
              "name": "instancia"
            },
            {
              "name": "telefone"
            },
            {
              "name": "tipo"
            },
            {
              "name": "nome_documento"
            },
            {
              "name": "url_evolution"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -768,
        208
      ],
      "id": "ecd8b3c5-f88d-4818-99e9-beec12d9f8e9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.tipo }}",
                    "rightValue": "imagem",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "de580b52-c344-4832-ba99-e4453d158173"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1cff2119-c28d-43a2-9715-0ff5b944f743",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.tipo }}",
                    "rightValue": "documento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Documento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -96,
        208
      ],
      "id": "cfdb3ae4-8861-4f44-8a5f-3e25fc41edfd",
      "name": "Imagem ou documento"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -320,
        208
      ],
      "id": "7f4796ed-fdbf-4da1-a6f2-6dcd7763d5ec",
      "name": "Converter arquivo"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -544,
        208
      ],
      "id": "cd5b943b-a011-4ce9-bdc5-d734e65835ce",
      "name": "Baixar arquivo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71dda3d7-4505-4d03-b70f-63f5c005c0c3",
              "name": "sucesso",
              "value": "={{ $json.success }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        208
      ],
      "id": "d31ed51a-6a70-442c-80b6-80c28ca8d87d",
      "name": "Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Executed by Another Workflow').item.json.url_evolution }}/message/sendMedia/{{ $('When Executed by Another Workflow').item.json.instancia }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.body.telefone }}"
            },
            {
              "name": "mediatype",
              "value": "image"
            },
            {
              "name": "media",
              "value": "={{ $json.data }}"
            },
            {
              "name": "mimetype",
              "value": "image/jpeg"
            },
            {
              "name": "caption"
            },
            {
              "name": "fileName",
              "value": "image.jpg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        112
      ],
      "id": "a9844e45-0159-45b7-9bda-c6e3a5c5856f",
      "name": "Enviar imagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('When Executed by Another Workflow').item.json.url_evolution }}/message/sendMedia/{{ $('When Executed by Another Workflow').item.json.instancia }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.body.telefone }}"
            },
            {
              "name": "mediatype",
              "value": "document"
            },
            {
              "name": "media",
              "value": "={{ $json.data }}"
            },
            {
              "name": "mimetype",
              "value": "application/pdf"
            },
            {
              "name": "fileName",
              "value": "={{ $('When Executed by Another Workflow').item.json.nome_documento || '' }}"
            },
            {
              "name": "caption"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        288
      ],
      "id": "748c54c9-56d8-4867-afcb-a78359b4e873",
      "name": "Enviar documento"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Baixar arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagem ou documento": {
      "main": [
        [
          {
            "node": "Enviar imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter arquivo": {
      "main": [
        [
          {
            "node": "Imagem ou documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar arquivo": {
      "main": [
        [
          {
            "node": "Converter arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar documento": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14381bdb543a3065b8156f71f9b7fcd525907dd6f5ee6cfd7174fde388c12b97"
  },
  "tags": []
}